@model LoginDTO

@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}
@section style {
    <link rel="stylesheet" href="~/css/patient_login.css" asp-append-version="true" />
}
<div class="main">
    <a asp-action="Index" asp-controller="Home" class="mb-2">< Back</a>

    <h1 class="mb-4 text-center">Login to your account</h1>

    <form asp-action="PatientLogin" class="login-form-control">

        <div class="form-floating input-group mb-3">
            <input type="email"
                   asp-for="Email"
                   class="form-control border-end-0 bg-transparent border-focus-none"
                   id="floatingInput"
                   placeholder="email" />
            <label for="floatingInput">Email</label>
            <span class="input-group-text bg-transparent">
                <i class="bi bi-person-circle"></i>
            </span>
        </div>
        <span asp-validation-for="Email" class="text-danger"></span>

        <div class="form-floating input-group mb-3">
            <input type="password"
                   asp-for="Password" class="form-control border-end-0 bg-transparent border-focus-none"
                   id="floatingPassword"
                   placeholder="password" />
            <label for="floatingPassword">Password</label>
            <span class="input-group-text bg-transparent">
                <i class="bi bi-eye"></i>
            </span>
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>

        <button class="btn btn-primary custom-btn mb-4">
            Login
        </button>

        <a asp-action="ResetPwd" asp-controller="Patient" class="d-flex justify-content-center">Forgot Password ?</a>
    </form>

</div>
