@model List<PatientRequestList>
@{
    ViewData["Title"] = "Patient Dashboard";
}
@section style {
    <link rel="stylesheet" href="~/css/patient_dashboard.css" asp-append-version="true" />
}

<ul class="nav nav-underline ps-4 pe-4 bg-white">
    <li class="nav-item">
        <a class="nav-link active fs-5 fw-medium" aria-current="page" asp-action="PatientDashboard">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-5 fw-normal" asp-action="Profile">Profile</a>
    </li>
</ul>


<div class="container">
    <h4 class="mt-5 mb-3">Medical History</h4>

    <div class="bg">
        <div class="row justify-content-end">
            <div class="col-auto">
                <button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <a> Create New Request </a>
                </button>
            </div>

            <table class="table mt-3">
                <thead class="table-light">
                    <tr>
                        <td>
                            Created Date
                            <i class="bi bi-arrow-down-short fs-4"></i>
                        </td>
                        <td>Current Status</td>
                        <td>Document</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.CreatedDate.ToString("MMM dd, yyyy")
                            </td>
                            <td>
                                @item.CurrentStatus
                            </td>
                            <td>
                                <a class="btn btn-outline-info" asp-action="ViewDocument" asp-route-requestId="@item.RequestId">(@item.Document) Download</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-info">
                        <h1 class="modal-title bg-info text-white  fs-5" id="exampleModalLabel"> Create New Request</h1>
                        <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Here, I want to create a new request for...
                        <div class="d-flex justify-content-center mt-2 ">
                            <a asp-action="RequestforMe" asp-controller="Patient"> <button class="btn btn-info" data-bs-dismiss="modal">Me</button> </a>
                            <a asp-action="RequestforSomeoneElse" asp-controller="Patient"><button class="btn btn-outline-info ms-3">Some One Else</button> </a>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-info" data-bs-dismiss="modal">Continue</button>
                        <button class="btn btn-outline-info">CLose</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@* <script>
    $(document).ready(function () {
        // Default action for "Continue" button
        $('#continueBtn').click(function () {
            alert('Please select "Me" or "Someone Else" first.');
        });

        // Handle "Me" button click
        $('#meBtn').click(function () {
            $('#continueBtn').attr('formaction', '/Patient/RequestforMe');
        });

        // Handle "Someone Else" button click
        $('#someoneElseBtn').click(function () {
            $('#continueBtn').attr('formaction', '/Patient/RequestforSomeoneElse');
        });
    });
</script> *@

