@model PatientProfileDTO;
@{
    ViewData["Title"] = "Patient Profile";
}
@section style{
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
}


<ul class="nav nav-underline ps-4 pe-4 bg-white d-lg-flex d-none">
    <li class="nav-item">
        <a class="nav-link fs-5 fw-normal" aria-current="page" asp-action="PatientDashboard">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active fs-5 fw-medium" asp-action="Profile">Profile</a>
    </li>
</ul>

<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
        <h4>User Profile</h4>

        <a asp-controller="Patient" asp-action="PatientDashboard" class="btn btn-outline-info"> < Back </a>
    </div>

    <div class="bg mt-2 mb-3">
        <form asp-action="Profile" class="login-form-control">

            <div class="row">
                <h4 class="mb-4">General Information</h4>

                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="FirstName"
                               class="form-control"
                               id="floatingInput"
                               placeholder="First Name"
                               disabled />
                        <label for="floatingInput">First Name</label>
                    </div>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="LastName"
                               class="form-control"
                               id="floatingInput"
                               placeholder="Last name"
                               disabled />
                        <label for="floatingPassword">Last Name</label>
                    </div>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="col-md-6">
                    <div class="form-floating">
                        <input type="date"
                               asp-for="DateOfBirth"
                               class="form-control"
                               id="dob"
                               disabled />
                        <label for="floatingPassword">Date of Birth</label>
                    </div>
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>

                <h4 class="mb-4 mt-4">Contact Information</h4>

                <div class="col-md-2 mb-3 z-3">
                    <div class="form-floating">
                        <select class="form-select form-select-lg" aria-label="Large select example"
                                disabled>
                            <option selected>Mobile</option>
                            <option value="1">Phone</option>
                            <option value="2">Landline</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4 mb-3 z-3 form-floating">
                    <input type="tel"
                           asp-for="PhoneNumber"
                           class="form-control"
                           id="phone"
                           placeholder=""
                           style="height: 58px"
                           disabled />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="email"
                               asp-for="Email"
                               class="form-control"
                               id="floatingInput"
                               placeholder="name@example.com"
                               disabled />
                        <label for="floatingInput">Email</label>
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>


                <h4 class="mb-4 mt-4">Location Information</h4>

                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="Street"
                               class="form-control"
                               id="floatingInput"
                               placeholder="street"
                               disabled />
                        <label for="floatingInput">Street</label>
                    </div>
                    <span asp-validation-for="Street" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="City"
                               class="form-control"
                               id="floatingInput"
                               placeholder="city"
                               disabled />
                        <label for="floatingInput">City</label>
                    </div>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="State"
                               class="form-control"
                               id="floatingInput"
                               placeholder="state"
                               disabled />
                        <label for="floatingInput">State</label>
                    </div>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>

                <div class="col-md-4 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="ZipCode"
                               class="form-control"
                               id="floatingInput"
                               placeholder="zip code"
                               disabled />
                        <label for="floatingInput">Zip code</label>
                    </div>
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>

                <div class="col-md-2 mb-3">
                    <div class="form-floating">
                        <a class="btn btn-outline-info map btn-map"><i class="bi bi-geo-alt">Map</i> </a>
                    </div>
                </div>

            </div>
            <div class="row justify-content-end">
                <div class="col-auto">
                    <button type="button" class="btn btn-info text-white btn-edit "> Edit </button>
                    <button class="btn btn-info text-white btn-save">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{
<script src="~/js/edit_btn_profile.js"></script>
}