<table class="table">
    <thead class="table-light">
        <tr>
            <th class="col">
                Date
            </th>
            <th class="col text-center">
                Item
            </th>
            <th class="col text-center">
                Amount
            </th>
            <th class="col text-center">
                Bill
            </th>
            <th class="col text-center">
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                03/01/2024
            </td>
            <td class="text-center">
                Medicines
            </td>
            <td class="text-center">
                10
            </td>
            <td class="text-center">
                pdf
            </td>
            <td class="text-center">
                <a class="btn btn-outline-info bg-white text-info"> View </a>
            </td>
        </tr>
    </tbody>
</table>