<table class="table">
    <thead class="table-light">
        <tr>
            <th class="col">
                Shift Date
            </th>
            <th class="col text-center">
                Shift
            </th>
            <th class="col text-center">
                Nightshift weekend
            </th>
            <th class="col text-center">
                Housecall
            </th>
            <th class="col text-center">
                Housecall nights weekend
            </th>
            <th class="col text-center">
                Phone consults
            </th>
            <th class="col text-center">
                Phone consults nights weekend
            </th>
            <th class="col text-center">
                Batch testing
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>

            </td>
            <td class="text-center">

            </td>
            <td class="text-center">

            </td>
            <td class="text-center">

            </td>
            <td class="text-center">

            </td>
            <td class="text-center">

            </td>
            <td class="text-center">

            </td>
            <td class="text-center">

            </td>
        </tr>
    </tbody>
</table>