@{
    ViewData["Title"] = "Family/Friend Information";
}
@section style{
    <link rel="stylesheet" href="~/css/info.css" asp-append-version="true" />
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />

<div class="d-flex justify-content-end">
    <a asp-action="SubmitRequest" asp-controller="Request">
        <button type="button" class="btn btn-outline-info mt-4" id="back_btn">
            < Back
        </button>
    </a>
</div>

<div class="bg mt-2 mb-3">
    <div class="row">
        <h4 class="mb-4">Family/Friend Information</h4>

        <div class="col-md-6 mb-3">
            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="floatingInput"
                       placeholder="name@example.com" />
                <label for="floatingInput">Your First Name</label>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="form-floating">
                <input type="password"
                       class="form-control"
                       id="floatingPassword"
                       placeholder="Password" />
                <label for="floatingPassword">Your Last Name</label>
            </div>
        </div>

        <div class="col-md-6 mb-3 z-3">
            <input type="tel"
                   class="form-control"
                   id="phone"
                   placeholder="(201) 555-0123"
                   style="height: 58px" />
        </div>

        <div class="col-md-6 mb-3">
            <div class="form-floating">
                <input type="email"
                       class="form-control"
                       id="floatingInput"
                       placeholder="name@example.com" />
                <label for="floatingInput">Your Email</label>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="dob"
                       placeholder=" " />
                <label for="floatingPassword">Relation With Patient</label>
            </div>
        </div>

        <h4 class="mb-4 mt-4">Patient Information</h4>

        <div class="col-12 mb-3">
            <div class="form-floating">
                <textarea class="form-control"
                          placeholder=" "
                          id="floatingTextarea2"
                          style="height: 100px"></textarea>
                <label for="floatingTextarea2">Enter Brief Details of Symptoms (Optional)</label>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="floatingInput"
                       placeholder="name@example.com" />
                <label for="floatingInput">First Name</label>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="form-floating">
                <input type="password"
                       class="form-control"
                       id="floatingPassword"
                       placeholder="Password" />
                <label for="floatingPassword">Last Name</label>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-floating">
                <input type="date"
                       class="form-control"
                       id="dob"
                       placeholder=" " />
                <label for="floatingPassword">Date of Birth</label>
            </div>
        </div>

        <h4 class="mb-4 mt-4">Patient Contact Information</h4>

        <div class="col-md-6 mb-3">
            <div class="form-floating">
                <input type="email"
                       class="form-control"
                       id="floatingInput"
                       placeholder="name@example.com" />
                <label for="floatingInput">Email</label>
            </div>
        </div>

        <div class="col-md-6 mb-3 z-3">
            <input type="tel"
                   class="form-control"
                   id="phone1"
                   placeholder="(201) 555-0123"
                   style="height: 58px" />
        </div>

        <h4 class="mb-4 mt-4">Patient Location</h4>

        <div class="col-md-6 mb-3">
            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="floatingInput"
                       placeholder="name@example.com" />
                <label for="floatingInput">Street</label>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="floatingInput"
                       placeholder="name@example.com" />
                <label for="floatingInput">City</label>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="floatingInput"
                       placeholder="name@example.com" />
                <label for="floatingInput">State</label>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="form-floating">
                <input type="text"
                       class="form-control"
                       id="floatingInput"
                       placeholder="name@example.com" />
                <label for="floatingInput">Zip code</label>
            </div>
        </div>

        <div class="col-md-6 mb-3">
            <div class="form-floating">
                <input type="text" class="form-control" id="" placeholder=" " />
                <label for="floatingPassword">Room # / Suite (Optional)</label>
            </div>
        </div>

        <h4 class="mb-4 mt-4">(Optional) Upload Photo Or Document</h4>

        <div class="d-flex justify-content-between rounded border bg-light col-12 mb-3">
            <div id="filename" class="p-2">Select File</div>

            <label for="fileLoader"
                   class="bg-info text-white text-center h-100 rounded-end py-2 px-2">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="14"
                     height="14"
                     fill="white"
                     class="bi bi-cloud"
                     viewBox="0 0 16 16">
                    <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13h5.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                </svg>
                <label for="fileLoader" class="h-100 upl-btn">Upload</label>
            </label>
            <input type="file" id="fileLoader" />
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <button type="button"
                class="btn btn-info me-3 text-light"
                id="submit_btn">
            Submit
        </button>
        <button type="button" class="btn btn-outline-info" id="cancel_btn">
            Cancel
        </button>
    </div>
</div>

<script>
    const phoneInputField = document.querySelector("#phone");
    const phoneInputField1 = document.querySelector("#phone1");
    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    const phoneInput1 = window.intlTelInput(phoneInputField1, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>