@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="card text-center">
    <div class="card-body">
        <h1 class="card-title">Access Denied</h1>
        <p class="card-text">You do not have permission to access this page.</p>
        <a asp-action="PatientLogin" asp-controller="Patient" class="btn btn-outline-info">Back to Home</a>
    </div>
</div>


