.theme_btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

@media only screen and (max-width:1000px) {
    .mainPhoto {
        z-index: -1;
        height: 100vh;
        opacity: 0.5;
        filter: blur(2px);
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #subDiv2 {
        position: absolute;
    }
}

.adminSubDivs{
    height:100vh;
}
.mainPhoto {
    height: 100vh;
}
.theme_btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.input-group-text {
    border-left: none;
}
.form-control:focus {
    box-shadow: none;
}

.form-floating.input-group:focus-within {
    border: 1px solid #01bce9;
    border-radius: var(--bs-border-radius);
}

    .form-floating.input-group:focus-within label {
        color: #01bce9;
    }

.border-focus-none:focus {
    border: none;
}
