.main {
    margin: auto;
    width:400px;
}

.custom-btn {
    background-color: #01bce9;
}

    .custom-btn:hover {
        background-color: #01bce9;
    }

    .custom-btn:active {
        background-color: #01bce9;
    }

.custom-btn {
    width: 100%;
    border: none;
    height: 45px;
}

.login-form-control {
    max-width: 500px;
}

.input-group-text {
    border-left: none;
}

/*.form-control:focus {
    box-shadow: none;
}

.form-floating.input-group:focus-within {
    border: 1px solid #01bce9;
    border-radius: var(--bs-border-radius);
}

    .form-floating.input-group:focus-within label {
        color: #01bce9;
    }

.border-focus-none:focus {
    border: none;
}*/

.container {
    display: flex;
    flex-direction: column;
    height: 74vh;
    background-image: linear-gradient( 0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9) ), url(/img/platform_login_person.jpg);
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    backdrop-filter: blur(2px);
}
