<style>


    .aside-cont ul li {
        height: 55px;
        border: 1px solid white;
        font-size: 20px;
        font-weight: normal;
    }

        .aside-cont ul li span {
            width: 78px;
            height: 21px;
            text-align: left;
            font-size: 22px;
            align-items: center;
        }

    .offcanvas-body {
        padding: 1rem 1rem;
    }

    a {
        color: black;
        text-decoration: none;
    }
</style>


<div class="header_nav d-flex justify-content-between align-items-center ps-3 pe-3">
    <div class="">
        <button class="btn text-info bg-white d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="border: 1px solid cyan;">
            <i class="bi bi-list fs-5"></i>
        </button>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="width:320px;">
            <div class="offcanvas-header d-flex justify-content-between">
                <div class="">
                    <button class="btn text-info bg-white d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="border: 1px solid cyan;">
                        <i class="bi bi-list fs-5"></i>
                    </button>
                    <img src="/img/hallodoc_img.png" class="img-fluid" alt="logo_img">
                </div>
            </div>

            <div class="offcanvas-body aside-cont">
                <span class="fw-light fs-5">Welcome,</span><span class="h5 ps-1">Admin,admin2</span>
                <ul class="list-group">
                    <li class="list-group-item mt-1">
                        <a asp-action="AdminDashboard">Dashboard</a>
                    </li>
                    <li class="list-group-item">
                        <a asp-action="">Provider Location</a>
                    </li>
                    <li class="list-group-item">
                        <a asp-action="">My Profile</a>
                    </li>
                    <li class="list-group-item">
                        <a asp-action="">Providers</a>
                    </li>
                    <li class="list-group-item">
                        <a asp-action="">Partners</a>
                    </li>
                    <li class="list-group-item">
                        <a asp-action="">Access</a>
                    </li>
                    <li class="list-group-item">
                        <a asp-action="">Records</a>
                    </li>
                </ul>
            </div>
        </div>
        <img src="/img/hallodoc_img.png" class="img-fluid" alt="logo_img">
    </div>
    <button type="button" class="btn btn-outline-info" id="toggle_theme_btn">
        <i class="bi bi-moon"></i>
    </button>
</div>

<ul class="nav nav-underline tabs bg-white shadow ps-4 pe-4 d-lg-flex d-none">
    <li class="nav-item">
        <a class="nav-link active fs-5 fw-normal" data-bs-toggle="tab" href="#dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  fs-5 fw-medium" data-bs-toggle="tab" href="#providerLocation">Provider Location</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-5 fw-normal" data-bs-toggle="tab" href="#myProfile">My Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-5 fw-normal" data-bs-toggle="tab" href="#providers">Providers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  fs-5 fw-medium" data-bs-toggle="tab" href="#partners">Partners</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-5 fw-normal" data-bs-toggle="tab" href="#access">Access</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  fs-5 fw-medium" data-bs-toggle="tab" href="#records">Records</a>
    </li>
</ul>