@model SendAgreement

<!-- Modal For Assign Case For Patient-->
<div class="modal fade" id="assignModal" tabindex="-1" aria-labelledby="assignModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <form class="assignCaseForm" method="post">
                <div class="modal-header bg-info text-white ">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Assign Request</h1>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col text-muted">
                            To assign this request, search and select another physician
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <div class="form-floating">
                                <select class="form-select pt-0 pb-0 regionDropDown" id="floatingSelect" name="phyRegion">
                                    <option selected>Narrow Search by Region</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <div class="form-floating">
                                <select class="form-select pt-0 pb-0 physicianDropDown" id="floatingSelect" aria-label="Floating label select example" name="phyId">
                                    <option selected>Select Physician</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="desc" id="description" name="notes" style="height: 100px"></textarea>
                                <label for="description">Description</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info text-white" id="assignCaseSubmit">Confirm</button>
                    <button type="button" class="btn btn-white border-info text-info" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- For assign case-->
<script>
    $(document).ready(function () {
        var regionsFetched = false;

        $('#assignModal').on('show.bs.modal', function (e) {
            if (!regionsFetched) {
                // Trigger the AJAX call for fetching regions
                $.ajax({
                    url: './FetchRegions',
                    method: 'GET',
                    success: function (response) {
                        response.forEach(function (res) {
                            console.log("calls region");
                            $('.regionDropDown').append("<option value='" + res.regionid + "'>" + res.name + "</option>");
                        });
                        regionsFetched = true;
                    }
                });
            }

            // Add the "Select Physician" option every time the modal is shown
            $('.physicianDropDown').empty();
            $('.physicianDropDown').append("<option value='' selected>Select Physician</option>");
        });

        $('.regionDropDown').on('change', function () {
            var regionId = $(this).val();
            $.ajax({
                url: './FetchPhysicianByRegion/' + regionId,
                method: 'GET',
                success: function (response) {
                    $('.physicianDropDown').empty();
                    $('.physicianDropDown').append("<option value='' selected>Select Physician</option>");
                    response.forEach(function (res) {
                        console.log("calls phy");
                        $('.physicianDropDown').append("<option value='" + res.physicianid + "'>" + res.firstname + "</option>");
                    });
                }
            });
        })
    });

    function SetAssignId(id) {
        console.log("start");
        console.log(id);
        const myModal = new bootstrap.Modal("#assignModal", {});
        myModal.show();
        $(".assignCaseForm").attr("action", "/Admin/AssignCase/" + id);
    }


    $(document).ready(function () {
        // Function to check if all fields are filled
        function checkFields() {
            var region = $('.regionDropDown').val();
            var physician = $('.physicianDropDown').val();
            var notes = $('#description').val();

            // Check if all fields are filled
            if (region !== 'Narrow Search by Region' && physician !== 'Select Physician' && physician !== '' && notes.trim() !== '') {
                $('#assignCaseSubmit').prop('disabled', false); // Enable the button
            } else {
                $('#assignCaseSubmit').prop('disabled', true); // Disable the button
            }
        }

        $('.regionDropDown').on('change', function () {
            checkFields(); 
        });

        $('.physicianDropDown').on('change', function () {
            checkFields(); 
        });

        $('#description').on('input', function () {
            checkFields();
        });

        // Function to reset form and disable button when modal is hidden
        $('#assignModal').on('hidden.bs.modal', function () {
            $('.regionDropDown').val('Narrow Search by Region'); // Reset region dropdown
            $('.physicianDropDown').val('Select Physician'); // Reset physician dropdown
            $('#description').val(''); // Reset notes textarea
            $('#assignCaseSubmit').prop('disabled', true); // Disable the button
        });

        // Initial check on modal show
        $('#assignModal').on('show.bs.modal', function (e) {
            checkFields();
        });
    });

</script>

<!-- Modal For Block Case For Patient-->
<div class="modal fade" id="blockModal" tabindex="-1" aria-labelledby="bloackModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post" id="blockForm">
                <input type="text" hidden id="requestId" name="requestId" />
                <div class="modal-header bg-info text-white ">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Block</h1>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col text-muted">
                            Patient Name: <span class="text-info" id="p-name-block"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-floating">
                                <textarea class="form-control" name="blockReason" placeholder="comment for block request" id="reason" style="height: 100px"></textarea>
                                <label for="reason">Reason for Block Request</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info text-white" id="confirmbtn">Confirm</button>
                    <button type="button" class="btn btn-white border-info text-info" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- For block case-->
<script>
    function SetBlockInfo(id, name) {
        console.log("start");
        console.log(name);
        console.log(id);
        $("#p-name-block").text(name);
        const myModal = new bootstrap.Modal("#blockModal", {});
        myModal.show();
        $("#blockForm").attr("action", "/Admin/BlockCase/" + id);
    }

    $(document).ready(function () {
        // Function to check if all fields are filled
        function checkFields() {
            var reason = $('#reason').val();

            // Check if all fields are filled
            if (reason.trim() !== '') {
                $('#confirmbtn').prop('disabled', false); // Enable the button
            } else {
                $('#confirmbtn').prop('disabled', true); // Disable the button
            }
        }

        $('#reason').on('input', function () {
            checkFields();
        });

        // Function to reset form and disable button when modal is hidden
        $('#blockModal').on('hidden.bs.modal', function () {
            $('#reason').val('');
            $('#confirmbtn').prop('disabled', true);
        });

        // Initial check on modal show
        $('#blockModal').on('show.bs.modal', function (e) {
            checkFields();
        });
    });
</script>

<!-- Modal For Cancel Case For Patient-->
<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post" id="cancelForm">
                <input type="text" hidden id="requestId" name="requestId" />
                <div class="modal-header bg-info text-white ">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Cancellation</h1>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col text-muted">
                            Patient Name: <span class="text-info" id="p-name-cancel"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <div class="form-floating">
                                <select class="form-select pt-0 pb-0 reason" aria-label="Floating label select example" name="reason">
                                    <option selected>Reasons For Cancellation</option>
                                    <option value="No Response to call or text, left message">No Response to call or text, left message</option>
                                    <option value="Cost issue">Cost issue</option>
                                    <option value="Insurance Issue">Insurance Issue</option>
                                    <option value="Out of servie Area">Out of servie Area</option>
                                    <option value="Not appropriate for service">Not appropriate for service</option>
                                    <option value="Refferal to Clinic or Hospital">Refferal to Clinic or Hospital</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating">
                                <textarea class="form-control note" name="notes" placeholder="Leave a comment here" id="notes" style="height: 100px"></textarea>
                                <label for="notes">Provide Additional Notes</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info text-white" id="confirmbtn">Confirm</button>
                    <button type="button" class="btn btn-white border-info text-info" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- For cancel case-->
@* validation not working *@
<script>
    function SetCancelInfo(id, name) {
        console.log("start");
        console.log(name);
        console.log(id);
        $("#p-name-cancel").text(name);
        const myModal = new bootstrap.Modal("#cancelModal", {});
        myModal.show();
        $("#cancelForm").attr("action", "/Admin/CancelCase/" + id);
    }

    $(document).ready(function () {
        // Function to check if all fields are filled
        function checkFields() {
            var reason = $('.reason').val();
            var note = $('.note').val();
            console.log(reason)
            console.log(note)

            // Check if all fields are filled
            if (reason !== 'Reasons For Cancellation' && note.trim() !== '') {
                $('#confirmbtn').prop('disabled', false); // Enable the button
            } else {
                $('#confirmbtn').prop('disabled', true); // Disable the button
                $('#confirmbtn').attr('class','disabled')
            }
        }

        $('.reason, .note').on('change input', function () {
            checkFields();
        });

        // Function to reset form and disable button when modal is hidden
        $('#cancelModal').on('hidden.bs.modal', function () {
            $('.reason').val('Reasons For Cancellation');
            $('.note').val('');
            $('#confirmbtn').prop('disabled', true); 
        });

        // Initial check on modal show
        $('#cancelModal').on('show.bs.modal', function (e) {
            console.log("initial")
            checkFields();
        });
    });
</script>

<!-- Modal For Transfer Case-->
<div class="modal fade" id="transferModal" tabindex="-1" aria-labelledby="transferModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <form class="transferCaseForm" method="post">
                <div class="modal-header bg-info text-white ">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Transfer Request</h1>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col text-muted">
                            To transfer this request, search and select another physician
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col">
                            <div class="form-floating">
                                <select class="form-select pt-0 pb-0 regionDropDown" id="floatingSelect" aria-label="Floating label select example" name="phyRegion">
                                    <option selected>Narrow Search by Region</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <div class="form-floating">
                                <select class="form-select pt-0 pb-0 physicianDropDown" id="floatingSelect" aria-label="Floating label select example" name="phyId">
                                    <option selected>Select Physician</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="desc" id="floatingTextarea2" name="notes" style="height: 100px"></textarea>
                                <label for="floatingTextarea2">Description</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-info text-white" id="assignCaseSubmit">Confirm</button>
                    <button type="button" class="btn btn-white border-info text-info" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- For transfer case-->
<script>
    function SetTransferId(id) {
        console.log("start");
        console.log(id);
        const myModal = new bootstrap.Modal("#transferModal", {});
        myModal.show();
        $(".transferCaseForm").attr("action", "/Admin/AssignCase/" + id);
    }

    $(document).ready(function () {
        $('#transferModal').on('show.bs.modal', function (e) {
            $('.regionDropDown').empty();
            // Trigger the AJAX call for fetching regions
            $.ajax({
                url: './FetchRegions',
                method: 'GET',
                success: function (response) {
                    response.forEach(function (res) {
                        console.log("calls region");
                        $('.regionDropDown').append("<option value='" + res.regionid + "'>" + res.name + "</option>");
                    });
                }
            });
        });
    });
</script>


<!-- Modal For Clear Case For Patient-->
<div class="modal fade" id="clearCaseModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class=" p-2 py-3 modal-content text-center justify-content-center">
            <div class="modal-body px-5 pt-5 text-center">
                <form method="post" class="clearCaseForm">
                    <h1 class="text-warning text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-info-circle-fill info-i" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
                        </svg>
                    </h1>
                    <h4 class="text-center pt-3">Confirmation for clear case</h4>
                    <p class="text-center fs-7 pt-2 text-secondary">
                        Are sure you want to clear this request ? Once clear this request then you are not able to see this request
                    </p>
                    @* <input type="hidden" value="" id="RequestID_Input_ModelClearCase" name="RequestId" /> *@
                    <button type="submit" class="mb-3 btn btn-info text-white" data-bs-dismiss="modal">Clear</button>
                    <button type="button" class="mb-3 btn border border-info text-info ms-2" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- For Clear case-->
<script>
    function SetCancelId(id) {
        console.log("start");
        console.log(id);
        const myModal = new bootstrap.Modal("#clearCaseModal", {});
        myModal.show();
        $(".clearCaseForm").attr("action", "/Admin/ClearCase/" + id);
    }
</script>

<!-- Modal For Send Agreement-->
<div class="modal fade text-start" id="sendAgreementModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title fs-5" id="exampleModalLabel">Send Agreement</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" class="sendAgreementForm">
                <div class="modal-body">
                    <div class="d-md-flex gap-1 mx-auto text-center align-items-center">

                        <i class="bi bi-circle-fill pe-2"></i>
                        <span class="text-sm-start" id="displayName"></span>
                    </div>
                    <p> To Send Agreement please make sure you are updating the correct contact information below for the responsible party. </p>
                    <div class="form-floating mb-3">
                        <input type="text" id="phoneNumber" class="input-outline w-100 h-100 fs-6 form-control shadow-none" name="phoneNumber">
                        <label class="inputs-label inputs-label fs-6">Phone Number</label>
                        @* <span asp-validation-for="PhoneNumber" class="text-danger"></span> *@
                    </div>
                    <div class="form-floating mb-3">
                        <input id="email" class="input-outline w-100 h-100 fs-6 form-control shadow-none" type="email" name="email" />
                        <label class="inputs-label inputs-label-textarea fs-6" id="notedata">Email</label>
                        @* <span asp-validation-for="Email" class="text-danger"></span> *@
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class=" btn btn-info text-white">Send</button>
                    <a class="btn btn-outline-info" data-bs-dismiss="modal">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- For Send agreement-->
<script>
    function SetAgreementInfo(requestId, requestTypeId, phone, email) {
        console.log("start");
        console.log(requestId);
        console.log(requestTypeId);
        if (requestTypeId == 1) {
            $("#displayName").text('Business');
            $('i.bi.bi-circle-fill.pe-2').removeClass().addClass('bi bi-circle-fill pe-2 pink-color');
        } else if (requestTypeId == 2) {
            $("#displayName").text('Patient');
            $('i.bi.bi-circle-fill.pe-2').removeClass().addClass('bi bi-circle-fill pe-2 green-color');
        } else if (requestTypeId == 3) {
            $("#displayName").text('Family');
            $('i.bi.bi-circle-fill.pe-2').removeClass().addClass('bi bi-circle-fill pe-2 orange-color');
        } else if (requestTypeId == 4) {
            $("#displayName").text('Concierge');
            $('i.bi.bi-circle-fill.pe-2').removeClass().addClass('bi bi-circle-fill pe-2 blue-color');
        }

        document.getElementById('phoneNumber').value = phone;
        document.getElementById('email').value = email;

        const myModal = new bootstrap.Modal("#sendAgreementModal", {});
        myModal.show();

        $(".sendAgreementForm").attr("action", "/Admin/SendAgreement/" + requestId);
    }
</script>
