@*Add Shift*@
<div class="modal fade"
     id="createShiftModal"
     tabindex="-1"
     aria-labelledby="createShiftModal"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header bg-info" data-bs-theme="dark">
                <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Create Shift</h1>
                <button type="button" class="btn-close opacity-100" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column justify-content-center">
                    <div class="form-floating mb-3">
                        <select class="form-select pt-0 pb-0 regionDropDown" id="floatingSelect" name="phyRegion">
                            <option selected>Region</option>
                        </select>
                        <span id="addShiftRegionError" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select pt-0 pb-0 physicianDropDown" id="p-id" aria-label="Floating label select example" name="phyId">
                            <option selected>Physician</option>
                        </select>
                        <span id="addShiftPhysicianError" class="text-danger"></span>
                    </div>

                    <div class="col-md-12 form-floating mb-3">
                        <input id="StartDate" class="form-control rounded vcs" name="Startdate" type="date">
                        <label for="Startdate">Starting Date</label>
                    </div>
                    <div class="row justify-content-between">
                        <div class="col-md-6 form-floating mb-3">
                            <div class="form-floating mb-3">
                                <input type="time"
                                       class="form-control"
                                       id="StartTime"
                                       placeholder=" " />
                                <label for="StartTime">Start</label>
                                <span id="startTimeSrror" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-md-6 form-floating mb-3">
                            <div class="form-floating mb-3">
                                <input type="time"
                                       class="form-control"
                                       id="EndTime"
                                       placeholder=" " />
                                <label for="EndTime">End</label>
                                <span id="StartTimeSrror" class="text-danger"></span>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Repeat</label>
                        </div>
                    </div>
                    <div class="col-lg-12" id="repeat_days_block">
                        <input type="checkbox" name="Repeat_Days" id="sunday" value="1" />
                        <label for="sunday">Every Sunday</label>
                        <input type="checkbox" name="Repeat_Days" id="monday" value="2" />
                        <label for="monday">Every Monday</label>
                        <input type="checkbox" name="Repeat_Days" id="tuesday" value="3" />
                        <label for="tuesday">Every Tuesday</label>
                        <input type="checkbox" name="Repeat_Days" id="wednesday" value="4" />
                        <label for="wednesday">Every Wednesday</label>
                        <input type="checkbox" name="Repeat_Days" id="thursday" value="5" />
                        <label for="thursday">Every Thursday</label>
                        <input type="checkbox" name="Repeat_Days" id="friday" value="6" />
                        <label for="friday">Every Friday</label>
                        <input type="checkbox" name="Repeat_Days" id="saturday" value="7" />
                        <label for="saturday">Every Saturday</label>
                    </div>
                    <div class="col-md-12 form-floating  my-2">
                        <select class="form-select form-select-sm" id="RepeatUpto">
                            <option selected>2-times</option>
                        </select>
                        <label for="RepeatUpto" class="form-label">Repeat End</label>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info text-white" id="ConfirmAssign">Save</button>
                <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@*View Shift*@
<div class="modal fade"
     id="view-shift"
     tabindex="-1"
     aria-labelledby="view-shift"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-info" data-bs-theme="dark">
                <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">Asign Request</h1>
                <button type="button" class="btn-close opacity-100" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column justify-content-center">
                    <h6>To assign this request, search and select another physician</h6>

                    <div class="form-floating mb-4">
                        <select class="form-select " aria-label="Default select example assignRegion" id="viewShiftRegion" onchange="loadPhysicianToAssign()" style="height:58px;">
                            <option selected disabled value="0">Select Region</option>
                        </select>
                        <label for="floatingSelect">Works with selects</label>
                        <span id="viewShiftRegionError" class="text-danger"></span>
                    </div>

                    <div class="mb-4">
                        <select class="form-select" aria-label="Default select example" id="viewShiftPhysician" style="height:58px;" onchange='document.getElementById("assignPhysicianError").innerHTML = ""'>
                            <option selected disabled value="0">Select Physician</option>
                        </select>
                        <span id="viewShiftPhysicianError" class="text-danger"></span>
                    </div>

                    <div class="col-md-12 form-floating mb-3">
                        <input id="ShiftDate" class="form-control rounded vcs" name="Shiftdate" type="date">
                        <label for="Shiftdate">Shift Date</label>
                    </div>
                    <div class="col-12 row">
                        <div class="col-md-6 form-floating mb-3">
                            <div class="form-floating mb-3">
                                <input type="time"
                                       class="form-control"
                                       id="StartTime"
                                       placeholder=" " />
                                <label for="StartTime">Start</label>
                                <span id="startTimeSrror" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="col-md-6 form-floating mb-3">
                            <div class="form-floating mb-3">
                                <input type="time"
                                       class="form-control"
                                       id="EndTime"
                                       placeholder=" " />
                                <label for="EndTime">End</label>
                                <span id="StartTimeSrror" class="text-danger"></span>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-info text-white" id="ConfirmAssign">Confirm</button>
                <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>

</div>