<div class="row">
    <div class="mb-3">
        <div class="d-flex rounded border bg-light align-items-center ps-2"
             onclick="document.getElementById('choose-file').click()"
             style="cursor: pointer">
            <label class="flex-grow-1 upload" id="fileLabel">Select File</label>
            <button type="button" class="btn btn-info uploadbtn text-white"
                    style="width: fit-content">
                @* <img src="~/img/cloud-upload-icon.svg" alt="" /> *@
                Upload
            </button>
        </div>
    </div>
</div>

<div id="fileNames"></div>
<input type="file" style="display: none" multiple id="choose-file" />


<script>
    //script for cross and list of selected files
    $(document).ready(function () {
        console.log("ready!");

        let allFiles = [];
        let input = document.getElementById("choose-file");
        var button = document.getElementsByClassName("toggle-button")[0];
        console.log(button)
        let div = document.getElementById("fileNames");

        input.addEventListener("change", function () {
            let files = input.files;


            for (let i = 0; i < files.length; i++) {
                allFiles.push(files[i]);
            }

            console.log(allFiles)
            // button.style = "display:block"
            showNames(files);
        });

        function showNames(files) {
            for (let i = 0; i < files.length; i++) {
                let icon = document.createElement('i');
                icon.classList = 'bi bi-x-lg fileIcon';

                // let br = document.createElement('br');

                let span = document.createElement('span');
                span.className = "showFile";
                span.style.color = 'black';
                span.textContent = files[i].name;

                let spanIcon = icon.cloneNode(true); // Clone the icon for each file
                span.appendChild(spanIcon);
                div.appendChild(span);
                // div.appendChild(br);

                spanIcon.onclick = function () {
                    let index = allFiles.indexOf(files[i]);
                    allFiles.splice(index, 1);
                    div.removeChild(span);
                    div.removeChild(br);

                    if (allFiles.length == 0) {
                        button.style = "display:none";
                    }
                };
            }
        }

        function removeAll() {
            allFiles = [];
            div.innerHTML = "";
            button.style = "display:none";
        }

    });
</script>