@model List<CreateRoleDTO>
@{
    ViewData["Title"] = "AccountAccess";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string active = "#access";
}

<div class="container">
    <div class="d-flex align-items-center mt-4 mb-4">
        <h4>Account Access</h4>
    </div>

    <div class="bg-white rounded shadow p-2">
        <div class="row justify-content-end">
            <div class="col-auto">
                <a class="btn btn-outline-info text-info rounded-2 bg-white me-2" asp-action="CreateRole" asp-controller="Admin"> Create Access </a>
            </div>
        </div>

        <div class="d-lg-block d-none ps-0 pe-0">
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Account Type
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.RoleName
                            </td>

                            <td>
                                @item.AccountType
                            </td>
                            <td class="text-center">
                                <button class="btn btn-outline-info" onclick="SendMessageModal(@item.RoleId)">Edit</button>
                                <button class="btn btn-outline-info" onclick="SendMessageModal(@item.RoleId)">Delete</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_ActiveTabPartial" model=active />

