@{
    ViewData["Title"] = "AdminDashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section style{
    @*   <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" /> *@
    <link rel="stylesheet" href="~/css/admin_dashboard.css" asp-append-version="true" />

}


<div class="tab-pane container-fluid active" id="dashboard">
    <form asp-action="AdminDashboard">
        <div class="row justify-content-center mt-3">
            <div class="col-xl-2 col-sm-4 col-6">
                <div class="mt-1 p-3 rounded d-flex flex-column" id="NewState" onclick="activateTab('NewState')">
                    <span><i class="bi bi-compass"></i> NEW</span>
                    <span class="h3 fw-bold">12345</span>
                </div>
            </div>

            <div class="col-xl-2 col-sm-4 col-6">
                <div class="mt-1 p-3 rounded d-flex flex-column" id="PendingState" onclick="activateTab('PendingState')">
                    <span><i class="bi bi-person"></i> PENDING</span>
                    <span class="h3 fw-bold">12345</span>
                </div>
            </div>

            <div class="col-xl-2 col-sm-4 col-6">
                <div class="mt-1 p-3 rounded d-flex flex-column" id="ActiveState">
                    <span><i class="bi bi-check2-circle"></i> ACTIVE</span>
                    <span class="h3 fw-bold">12345</span>
                </div>

            </div>

            <div class="col-xl-2 col-sm-4 col-6">
                <div class="mt-1 p-3 rounded d-flex flex-column" id="ConcludeState">
                    <span><i class="bi bi-clock"></i> CONCLUDE</span>
                    <span class="h3 fw-bold">12345</span>
                </div>
            </div>

            <div class="col-xl-2 col-sm-4 col-6">
                <div class="mt-1 p-3 rounded d-flex flex-column" id="ToCloseState">
                    <span><i class="bi bi-person-x-fill"></i> TO CLOSE</span>
                    <span class="h3 fw-bold">12345</span>
                </div>
            </div>

            <div class="col-xl-2 col-sm-4 col-6 ">
                <div class="mt-1 p-3 rounded d-flex flex-column" id="UnpaidState">
                    <span><i class="fa-solid fa-dollar-sign"></i> UNPAID</span>
                    <span class="h3 fw-bold">12345</span>
                </div>
            </div>
        </div>

    </form>

    <div class="row m-lg-2 ">
        <div class="d-flex justify-content-between m-2">
            <h3 class="p-2">Patients <span style="color:#00008b">(New)</span></h3>
            <div class="p-2">
                <button type="button" class="btn btn-info fs-6 fw-semibold mx-1 p-2 text-white"><i class="fa-regular fa-paper-plane pe-1"></i><span class=""> Send Link</span></button>
                <button type="button" class="btn btn-info fs-6 fw-semibold mx-1 p-2 text-white"><i class="fa-solid fa-notes-medical pe-1"></i><span> Create Request</span></button>
                <button type="button" class="btn btn-info fs-6 fw-semibold mx-1 p-2 text-white"><i class="fa-solid fa-share pe-1"></i><span>Export</span></button>
                <button type="button" class="btn btn-info fs-6 fw-semibold mx-1 p-2 text-white"><i class="fa-solid fa-share pe-1"></i><span>Export All</span></button>
                <button type="button" class="btn btn-info fs-6 fw-semibold mx-1 p-2 text-white"><i class="fa-solid fa-headset pe-1"></i><span>Request DTY Support</span></button>
            </div>
        </div>
        <div class="row g-2 mt-2 pt-2 pb-2 bg-white shadow rounded-1">
            <div class="col-md-2 col-sm-12">
                <i class="bi bi-search text-muted position-absolute" style="padding-top:10px; padding-left:10px;"></i>
                <input type="search" class="form-control" style="padding-left:35px;" id="floatingInputGrid" placeholder="Search Patients">
            </div>

            <div class="col-md-2 col-sm-12">

                <i class="text-muted position-absolute" style="padding-top:10px; padding-left:10px;"></i>
                <select class="form-select" id="floatingSelectGrid">

                    <option selected>All Regions</option>
                    <option value="1">Ahmedabad</option>
                    <option value="2">Gandhinagar</option>
                    <option value="3">Surat</option>
                </select>
            </div>

            <div class="col-md-8 col-sm-12">
                <div class="text-end text-sm-start d-md-flex justify-content-md-end req-container">
                    <button class=" hideonmobile btn btn-white me-2  d-none d-lg-block" style="border-color:gainsboro;" type="button">All</button>
                    <span class="p-2 border-info" type="button"><i class="bi bi-circle-fill" style="color: #3ecc4e;"></i>Patient</span>
                    <span class="p-2" type="button"><i class="bi bi-circle-fill" style="color: #FFD43B;"></i>Family</span>
                    <span class="p-2 border-info" type="button"><i class="bi bi-circle-fill" style="color: #d049b7;"></i>Business</span>
                    <span class=" p-2 " type="button"><i class="bi bi-circle-fill" style="color: #3c5bd7;"></i>Concierge</span>
                    <span class="p-2 " type="button"><i class="bi bi-circle-fill" style="color: #6d4bd2;"></i>VIP</span>
                </div>
            </div>


        </div>

    </div>
</div>


<script>
    var previousTab = null;
    function activateTab(tabId) {
        // Deactivate previous tab
        if (previousTab !== null) {
            previousTab.classList.remove('active');
        }

        // Activate the clicked tab
        var clickedTab = document.getElementById(tabId);
        clickedTab.classList.add('active');

        // Update the previousTab variable
        previousTab = clickedTab;
    }
    activateTab('NewState');
</script>