@model LoginDTO
@{
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/admin_login.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
</head>

<body>
    <div class="container-fluid">
        <div class="row" style="overflow : hidden">

            <div class="adminSubDivs col-lg-6 p-0">
                <img src="~/img/11116016_415.jpg" class="w-100 mainPhoto" />
            </div>

            <div class="d-flex align-items-center justify-content-center flex-column adminSubDivs col-lg-6" id="subDiv2">
                <div class="d-flex flex-column align-items-center wid-admin" style="width:360px; height:100vh">
                    <div class="d-flex justify-content-center mt-5">
                        <img src="~/img/hallodoc_img.png" height="125px" width="250px" />
                    </div>

                    <div class="login d-flex justify-content-center flex-column mt-5 w-100">
                        <div class="h3 mt-3 d-flex justify-content-center">login to your account</div>

                        <form asp-action="AdminLogin" asp-controller="Admin">
                            <div class="form-floating mb-3 mt-3">
                                <input type="email" class="form-control" id="floatinginput" placeholder="name@example.com" asp-for="Email">
                                <label for="floatinginput">email</label>
                                <i class="bi bi-person-circle login-icon"></i>
                                <span asp-validation-for="Email" class="small text-danger"></span>
                            </div>

                            <div class="form-floating">
                                <input type="password" class="form-control" id="see" placeholder="password" asp-for="Password">
                                <label for="floatingpassword">password</label>
                                <div class="login-icon" onclick="fun()">
                                    <i class="bi bi-eye-slash-fill" id="eye"></i>
                                </div>
                                <span asp-validation-for="Password" class="small text-danger"></span>
                            </div>

                            <button type="submit" class="d-flex justify-content-center btn btn-primary fields mt-3 bg-info rounded-2 border border-0 w-100">log in</button><br>
                        </form>
                        <div class="d-flex justify-content-center">
                            <a asp-controller="home" asp-action="resetpwd" class="link text-info text-decoration-none">forgot password?</a>
                        </div>

                    @*     <div class="d-flex justify-content-center">
                            <div class="terms bg-body-tertiary p-1 border rounded-2 d-flex justify-content-between position-fixed bottom-0 mb-3">
                                <a href="#" class="text-decoration-none text-secondary">terms of conditions</a>
                                <span class="mx-1">|</span>
                                <a href="#" class="text-decoration-none text-secondary">privacy policy</a>
                            </div>
                        </div> 
                        *@

                        <div class="d-flex justify-content-center">
                            <div class="fixed-bottom footer gap-2 pe-5">
                                <a href="#">Terms and condition</a>
                                |
                                <a href="#">Privacy policy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
