@model ScheduleDTO
@{
    ViewData["Title"] = "ProviderOnCall";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string active = "#provider-tab";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
        <h4>MDs On Call</h4>

        <a class="btn btn-outline-info bg-white text-info" onclick="history.back()"> &lt; Back </a>
    </div>

    <div class="row justify-content-between align-items-center pb-2">
        <div class="col-md-3">
            <div class="form-floating">
                <select class="form-select" id="region" asp-for="Region">
                    <option selected value="0">All Regions</option>
                    @foreach (var item in Model.Regions)
                    {
                        <option value="@item.RegionId">@item.RegionName</option>
                    }
                </select>
                <label for="region" class="form-label">Search</label>
            </div>
        </div>
        <div class="col-auto">
            <button class="btn btn-info text-white me-2">Calender View</button>
            <a class="btn btn-info text-white me-2" asp-action="RequestedShift" asp-controller="Admin">Shifts for Review</a>
        </div>
    </div>

    <div class="bg-white rounded shadow p-3">
        <div id="MDsDiv"></div>
    </div>
</div>
<partial name="_ActiveTabPartial" model=active />
<script src="/js/ProviderOnCall.js" asp-append-version="true"></script>