<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HalloDoc_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="~/css/header_footer_authLayout.css" asp-append-version="true" />
    @await RenderSectionAsync("style", required: false)
</head>
<body class="bg-body-tertiary">

    <header>
        <div class="d-flex justify-content-center">
            <img src="~/img/hallodoc_img.png"
                 class="img-fluid logo-img"
                 alt="hallodoc_img" />
            <button type="button" class="btn btn-outline-info theme_btn" id="toggle_theme_btn">
                <i class="bi bi-moon"></i>
            </button>
        </div>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        <div class="fixed-bottom footer d-flex justify-content-center align-items-center gap-2 pe-2">
            <a href="#">Terms and condition</a>
            |
            <a href="#">Privacy policy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/toggle_btn.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
