
<ul class="nav nav-tabs tabs bg-white shadow hideonmobile ps-4 pe-4">
    <li class="nav-item">
        <a class="nav-link active fs-5 fw-normal" data-bs-toggle="tab" href="#dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  fs-5 fw-medium" data-bs-toggle="tab" href="#providerLocation">Provider Location</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-5 fw-normal" data-bs-toggle="tab" href="#myProfile">My Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-5 fw-normal" data-bs-toggle="tab" href="#providers">Providers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  fs-5 fw-medium" data-bs-toggle="tab" href="#partners">Partners</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-5 fw-normal" data-bs-toggle="tab" href="#access">Access</a>
    </li>
    <li class="nav-item">
        <a class="nav-link  fs-5 fw-medium" data-bs-toggle="tab" href="#records">Records</a>
    </li>
</ul>