
<link asp-append-version="true" rel="stylesheet" href="/css/admin_dashboard.css" />
<link asp-append-version="true" rel="stylesheet" href="/css/header_footer_layout.css" />

<div class="d-flex header_nav justify-content-between align-items-center bg-white p-3">

    <button class="btn text-info bg-white d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="border: 1px solid cyan;">
        <i class="bi bi-list fs-5"></i>
    </button>

    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="width:320px;">
        <div class="offcanvas-header d-flex justify-content-between">
            <button class="btn text-info bg-white d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="border: 1px solid cyan;">
                <i class="bi bi-list fs-5"></i>
            </button>
            <img src="/img/hallodoc_img.png" alt="logo_img">
        </div>

        <div class="offcanvas-body aside-cont">
            <span class="fw-light fs-5">Welcome</span><span class="h5 ps-1">@User.FindFirst("firstname")?.Value,@User.FindFirst("lastname")?.Value</span>

            <ul class="nav flex-column mt-2">
                <li class="nav-item">
                    <a class="nav-link active fs-5" asp-action="AdminDashboard" asp-controller="Admin">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  fs-5" asp-action="ProviderLocation" asp-controller="Admin">Provider Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" asp-action="MyProfile" asp-controller="Admin">My Profile</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle bg-white text-black border-0 fs-5 nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Providers
                        </button>
                        <ul class="dropdown-menu shadow">
                            <li><a class="dropdown-item" asp-action="Providers" asp-controller="Admin">Providers</a></li>
                            <li><a class="dropdown-item" asp-action="Scheduling" asp-controller="Admin">Scheduling</a></li>
                            <li><a class="dropdown-item" asp-action="Invoicing" asp-controller="Admin">Invoicing</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link  fs-5" asp-action="Partners" asp-controller="Provider">Partners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fs-5" asp-action="Access" asp-controller="Admin">Access</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle bg-white text-black border-0 fs-5 nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Records
                        </button>
                        <ul class="dropdown-menu shadow">
                            <li><a class="dropdown-item" asp-action="SearchRecords" asp-controller="Provider">Search Records</a></li>
                            <li><a class="dropdown-item" asp-action="EmailLogs" asp-controller="Provider">Email Logs</a></li>
                            <li><a class="dropdown-item" asp-action="SmsLogs" asp-controller="Provider">SMS Logs</a></li>
                            <li><a class="dropdown-item" asp-action="PatientHistory" asp-controller="Provider">Patient Records</a></li>
                            <li><a class="dropdown-item" asp-action="BlockHistory" asp-controller="Provider">Blocked History</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <img src="/img/hallodoc_img.png" class="d-lg-block d-none" alt="logo_img">
    <div class="d-flex align-items-center">
        <span class="fw-light fs-5 d-lg-block d-none">Welcome<span class="h5 ps-1">@User.FindFirst("firstname")?.Value, @User.FindFirst("lastname")?.Value</span> </span>
        <a class="btn btn-outline-info text-info bg-white ms-2 me-2" role="button" asp-action="Logout">
            <i class="bi bi-box-arrow-right d-lg-none"></i>
            <span class="d-lg-block d-none"> Logout</span>
        </a>
        <button type="button" class="btn btn-outline-info bg-white" id="toggle_theme_btn">
            <i class="bi bi-moon"></i>
        </button>
    </div>

</div>

<ul class="nav nav-underline tabs bg-white shadow d-lg-flex d-none">
    <li class="nav-item">
        <a id="dashboard" class="nav-link active fs-5" asp-action="AdminDashboard" asp-controller="Admin">Dashboard</a>
    </li>
    <li class="nav-item">
        <a id="provider-location" class="nav-link  fs-5" asp-action="ProviderLocation">Provider Location</a>
    </li>
    <li class="nav-item">
        <a id="my-profile" class="nav-link fs-5" asp-action="MyProfile" asp-controller="Admin">My Profile</a>
    </li>
    <li class="nav-item">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle bg-white text-black border-0 fs-5 nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="provider-tab">
                Providers
            </button>
            <ul class="dropdown-menu shadow">
                <li><a class="dropdown-item" asp-action="Providers" asp-controller="Admin">Providers</a></li>
                <li><a class="dropdown-item" asp-action="Scheduling" asp-controller="Admin">Scheduling</a></li>
                <li><a class="dropdown-item" asp-action="Invoicing" asp-controller="Admin">Invoicing</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link  fs-5" id="partners" asp-action="Partners" asp-controller="Provider">Partners</a>
    </li>
    <li class="nav-item">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle bg-white text-black border-0 fs-5 nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="access">
                Access
            </button>
            <ul class="dropdown-menu shadow">
                <li><a class="dropdown-item" asp-action="AccountAccess" asp-controller="Admin">Account Access</a></li>
                <li><a class="dropdown-item" asp-action="UserAccess" asp-controller="Admin">User Access</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle bg-white text-black border-0 fs-5 nav-link" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="records">
                Records
            </button>
            <ul class="dropdown-menu shadow">
                <li><a class="dropdown-item" asp-action="SearchRecords" asp-controller="Provider">Search Records</a></li>
                <li><a class="dropdown-item" asp-action="EmailLogs" asp-controller="Provider">Email Logs</a></li>
                <li><a class="dropdown-item" asp-action="SmsLogs" asp-controller="Provider">SMS Logs</a></li>
                <li><a class="dropdown-item" asp-action="PatientHistory" asp-controller="Provider">Patient Records</a></li>
                <li><a class="dropdown-item" asp-action="BlockHistory" asp-controller="Provider">Blocked History</a></li>
            </ul>
        </div>
    </li>
</ul>
