
@{
    ViewData["Title"] = "CreateProviderAccount";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string active = "#access";
}

<h1>CreateProviderAccount</h1>

<partial name="_ActiveTabPartial" model=active />