@model LogsDTO
@{
    ViewData["Title"] = "EmailLogs";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string active = "#records";
}


<div class="ms-2 me-2">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
            <h4>Search Records</h4>

            <a class="btn btn-info bg-info text-white" onclick="history.back()">
                <i class="fa-solid fa-share pe-1"></i><span class="d-lg-inline-block d-none">Export Data To Excel</span>
            </a>
        </div>

        <div class="bg-white rounded shadow p-3 mb-5">
            <div class="row align-items-center mb-3">
                <div class="col-lg-2">
                    <div class="form-floating">
                        <select class="form-select" id="role" asp-for="Role">
                            <option selected value="0">Select Role</option>
                            @foreach (var item in Model.Roles)
                            {
                                <option value="@item.Roleid">@item.Name</option>
                            }
                        </select>
                        <label for="role" class="form-label">Role</label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <input type="text" placeholder="Receiver Name" class="form-control p-2 px-4 w-100" id="receivername" style="height:58px;">
                </div>
                <div class="col-lg-2">
                    <input type="text" placeholder="Email Id" class="form-control p-2 px-4 w-100" id="emailid" style="height:58px;">
                </div>
                <div class="col-lg-2">
                    <input type="date"
                           class="form-control text-secondary p-2 px-4 w-100"
                           id="createdDate"
                           style="height:58px;" />
                </div>
                <div class="col-lg-2">
                    <input type="date"
                           class="form-control text-secondary p-2 px-4 w-100"
                           id="sentDate"
                           style="height:58px;" />
                </div>
                <div class="col-lg-2">
                    <div class="row justify-content-end">
                        <div class="col-auto">
                            <button type="button" class="btn btn-info text-white" id="searchButton"> Search </button>
                            <button class="btn btn-outline-info text-info bg-white" id="clearButton">Clear</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="emailLogsTableDiv">
            </div>
        </div>
    </div>
</div>


<partial name="_ActiveTabPartial" model=active />
<script src="/js/EmailLogs.js" asp-append-version="true"></script>