
@{
    ViewData["Title"] = "SearchRecords";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string active = "#records";
}

<div class="ms-2 me-2">
    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
            <h4>Search Records</h4>

            <a id="exportToExcel" class="btn btn-info bg-info text-white" onclick="history.back()">
                <i class="fa-solid fa-share pe-1"></i><span class="d-lg-inline-block d-none">Export Data To Excel</span>
            </a>
        </div>

        <div class="bg-white rounded shadow p-3 mb-5">
            <div class="row align-items-center mb-3">
                <div class="col-lg-3">
                    <div class="form-floating">
                        <select class="form-select pt-0 pb-0 text-secondary p-2 px-4 w-100" id="requestStatus">
                            <option selected value="0">Select Request Status</option>
                        @foreach (var status in Enum.GetValues(typeof(RequestStatus)))
                        {
                            <option value="@((int)status)">@status.ToString()</option>
                        }
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <input type="text" placeholder="Patient Name" class="form-control p-2 px-4 w-100" id="patientname" style="height:58px;">
                </div>
                <div class="col-lg-3">
                    <div class="form-floating">
                        <select class="form-select pt-0 pb-0 text-secondary p-2 px-4 w-100" id="requestType">
                            <option selected value="0">Select Request Type</option>
                            @foreach (var type in Enum.GetValues(typeof(RequestTypeId)))
                            {
                                <option value="@((int)type)">@type.ToString()</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-lg-3">
                    <input type="date"
                           class="form-control text-secondary p-2 px-4 w-100"
                           id="fromDateofService"
                           style="height:58px;" />
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-3">
                    <input type="date"
                           class="form-control text-secondary p-2 px-4 w-100"
                           id="toDateofService"
                           style="height:58px;" />
                </div>
                <div class="col-lg-3">
                    <input type="text" placeholder="Provider Name" class="form-control p-2 px-4 w-100" id="providername" style="height:58px;">
                </div>
                <div class="col-lg-3">
                    <input type="text" placeholder="Email" class="form-control p-2 px-4 w-100" id="email" style="height:58px;">
                </div>
                <div class="col-lg-3">
                    <input type="text" placeholder="Phone Number" class="form-control p-2 px-4 w-100" id="phonenumber" style="height:58px;">
                </div>
            </div>

            <div class="row justify-content-end mt-4">
                <div class="col-auto">
                    <button class="btn btn-outline-info text-info bg-white" id="clearButton">Clear</button>
                    <button type="button" class="btn btn-info text-white" id="searchButton"> Search </button>
                </div>
            </div>

            <div id="searchRecordsTableDiv" class="table-responsive mt-3">
            </div>
        </div>
    </div>
</div>

<partial name="_ActiveTabPartial" model=active />
<script src="/js/SearchRecords.js" asp-append-version="true"></script>