@model ViewCaseDTO
@{
    ViewData["Title"] = "ViewCase";
    Layout = "~/Views/Shared/_ProviderLayout.cshtml";
}
@section style{
    <link rel="stylesheet" href="~/css/view_case.css" asp-append-version="true" />
}


<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
        <h4>New Request</h4>

        <a class="btn btn-outline-info text-info" onclick="history.back()"> < Back </a>
    </div>

    <div class="bg mt-2 mb-3">
        <form asp-action="ViewCase" method="post" class="login-form-control">
            <input type="text" hidden asp-for="RequestId" value="@Model.RequestId" />

            <h4 class="mb-4">Patient Information</h4>
            <span class="mb-3">Confirmation Number <h3 class="text-info">@Model.ConfirmationNumber</h3> </span>

            <div class="row">
                <div class="col-12 mb-3">
                    <div class="form-floating">
                        <textarea asp-for="PatientNotes"
                                  class="form-control"
                                  value="@Model.PatientNotes"
                                  placeholder="notes"
                                  id="floatingTextarea2"
                                  readonly
                                  style="height: 100px"></textarea>
                        <label for="floatingTextarea2">Patient Notes</label>
                    </div>
                    <span asp-validation-for="PatientNotes" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="FirstName"
                               class="form-control "
                               id="floatingInput"
                               placeholder="First name"
                               readonly />
                        <label for="floatingPassword">First Name</label>
                    </div>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="LastName"
                               class="form-control "
                               id="floatingInput"
                               placeholder="Last name"
                               readonly />
                        <label for="floatingPassword">Last Name</label>
                    </div>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="date"
                               asp-for="DateOfBirth"
                               class="form-control "
                               id="dob"
                               readonly />
                        <label for="floatingPassword">Date of Birth</label>
                    </div>
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>


                <div class="col-md-5 col-10 mb-3 z-3 form-floating">
                    <input type="tel"
                           asp-for="PhoneNumber"
                           class="form-control dis-field"
                           id="phone"
                           placeholder=""
                           style="height: 58px"
                           disabled />

                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="col-md-1 col-2 mb-3">
                    <div class="form-floating">
                        <a class="btn btn-outline-info icon dis-field"><i class="bi bi-telephone-fill"></i> </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="email"
                               asp-for="Email"
                               class="form-control dis-field"
                               id="email"
                               placeholder="name@example.com"
                               disabled />
                        <label for="floatingInput">Email</label>
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                @if (Model.RequestStatusType != 1)
                {
                    <div class="col-md-6 mb-3">
                        <button type="button" class="btn btn-outline-info text-info btn-edit"> Edit </button>
                        <button class="btn btn-info text-white btn-save">Save</button>
                    </div>
                }

            </div>

            <h4 class="mb-4 mt-4">Location Information</h4>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="Region"
                               class="form-control"
                               id="floatingInput"
                               placeholder="region"
                               readonly />
                        <label for="floatingInput">Region</label>
                    </div>
                </div>

                <div class="col-md-5 col-10 mb-3 form-floating">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="BusinessName"
                               class="form-control"
                               id="floatingInput"
                               placeholder="business name"
                               readonly />
                        <label for="floatingInput">Business Name/Address</label>
                    </div>
                </div>

                <div class="col-md-1 col-2 mb-3">
                    <div class="form-floating">
                        <a class="btn btn-outline-info icon"><i class="bi bi-geo-alt"></i> </a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-floating">
                        <input type="text"
                               asp-for="Room"
                               class="form-control"
                               id="floatingInput"
                               placeholder="room"
                               readonly />
                        <label for="floatingInput">Room #</label>
                    </div>
                </div>
            </div>

            <div class="row justify-content-end">
                <div class="col-auto">
                    <a class="btn btn-info text-white" href="@Url.Action("ViewNotes", "Admin", new { requestId = Model.RequestId})"> View Notes </a>
                    <button type="button" class="btn btn-danger text-white"> Cancel </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/js/edit_btn_view_case.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
