@model List<PatientRequestList>
@{
    ViewData["Title"] = "Patient Dashboard";
}
@section style {
    <link rel="stylesheet" href="~/css/patient_dashboard.css" asp-append-version="true" />
}

<ul class="nav nav-underline ps-4 pe-4 bg-white">
    <li class="nav-item">
        <a class="nav-link active fs-5 fw-medium" aria-current="page" asp-action="PatientDashboard">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fs-5 fw-normal" asp-action="Profile">Profile</a>
    </li>
</ul>


<div class="container">
    <h4 class="mt-5 mb-3">Medical History</h4>

    <div class="bg">
        <div class="row justify-content-end">
            <div class="col-auto">
                <a class="btn btn-outline-info"> Create New Request </a>
            </div>

            <table class="table mt-3">
                <thead class="table-light">
                    <tr>
                        <td>
                            Created Date
                            <i class="bi bi-arrow-down-short fs-4"></i>
                        </td>
                        <td>Current Status</td>
                        <td>Document</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.CreatedDate.ToString("MMM dd, yyyy")
                            </td>
                            <td>
                                @item.CurrentStatus
                            </td>
                            <td>
                                <a class="btn btn-outline-info" asp-action="ViewDocument" asp-route-requestId="@item.RequestId">(@item.Document) Download</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
