* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #01bce9;
}

    a:hover {
        color: #01bce9;
    }

.logo-img {
    height: 130px;
}

.theme_btn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.main {
    margin: auto;
    width: 400px;
}

.custom-btn {
    background-color: #01bce9;
}

    .custom-btn:hover {
        background-color: #01bce9;
    }

    .custom-btn:active {
        background-color: #01bce9;
    }

.custom-btn {
    width: 100%;
    border: none;
    height: 45px;
}

.login-form-control {
    max-width: 500px;
}

.input-group-text {
    border-left: none;
}

.form-control:focus {
    box-shadow: none;
}

.form-floating.input-group:focus-within {
    border: 1px solid #01bce9;
    border-radius: var(--bs-border-radius);
}

    .form-floating.input-group:focus-within label {
        color: #01bce9;
    }

.border-focus-none:focus {
    border: none;
}

.footer {
    height: 40px;
    padding-right: 10px;
    font-size: 18px;
    color: dimgray;
}

    .footer a {
        text-decoration: none;
        font-weight: 100;
        color: dimgray;
    }
