* {
    box-sizing: border-box;
}

body {
    background-color: rgba(65, 65, 65, 0.089);
}

.header_nav {
    box-shadow: 0px 6px 4px -4px rgba(0, 0, 0, 0.25);
    background-color: white;
}

    .header_nav img {
        height: 80px;
    }

.iti {
    width: 100%;
}

.bg {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 6px -6px 6px -4px rgba(0, 0, 0, 0.25);
}

.form-control:focus {
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
}

.form-floating.input-group:focus-within {
    border: 1px solid #01bce9;
    border-radius: var(--bs-border-radius);
}

    .form-floating.input-group:focus-within label {
        color: #01bce9;
    }


.form-floating > .form-select {
     padding-top: 0; 
     padding-bottom: 0; 
}

.map{
height: 58px;
width: 100px;
line-height:42px;
}

.edit-btn {
    width: 85px;
    height: 45px;
    line-height: 30px;
}

.footer {
    position: relative;
    height: 40px;
    background-color: black;
    padding-right: 10px;
    font-size: 14px;
    color: white;
}

    .footer a {
        text-decoration: none;
        font-weight: 100;
        color: white;
    }