.box {
    height: 50px;
    width: 335px;
    text-transform: uppercase;
    padding-top: 2px;
    padding-left: 15px;
    font-size: 24px;
    border-radius: 5px;
    border-radius: 5px;
}

    .box a {
        text-decoration: none;
    }

#box1 {
    background-color: #e9eaef;
}
    #box1 a {
        color: #55689a;
    }

#box2 {
    background-color: #e5f2f8;
}
    #box2 a {
        color: #5ea6c4;
    }

#box3 {
    background-color: #e9f0e8;
}
    #box3 a {
        color: #42803c;
    }

#box4 {
    background-color: #f7e6ee;
}
    #box4 a {
        color: #af246f;
    }