
@{
    ViewData["Title"] = "Provider";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string active = "#provider-tab";
}


<div class="container">
    <div class="d-flex align-items-center mt-4 mb-4">
        <h4>Provider Information</h4>
    </div>

    <div class="bg-white rounded shadow p-2">
        <div class="row justify-content-between align-items-center pt-3 pb-3">
            <div class="col-md-3">
                <div class="form-floating">
                    <select class="form-select regionDropDown" id="stateDropdown">
                        <option selected value="0">All</option>
                    </select>
                    <label for="stateDropdown" class="form-label">Search</label>
                </div>
            </div>
            <div class="col-auto">
                <a class="btn btn-info text-white rounded-2 border-0 me-2" asp-action="CreateProviderAccount" asp-controller="Admin"> Create Provider Account </a>
            </div>
        </div>

        <div id="providersTableDiv"></div>
    </div>
</div>



<partial name="_ActiveTabPartial" model=active />
<script src="~/js/Provider.js" asp-append-version="true"></script>
<script src="~/js/StateDropdown.js" asp-append-version="true"></script>