@using Entities.Enum;
@model List<UserAccessDTO>
@{
    ViewData["Title"] = "UserAccess";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    string active = "#access";
}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-4 mb-4">
        <h4>User Access</h4>
    </div>

    <div class="bg-white rounded shadow p-3">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-3 mt-2">
                <div class="form-floating">
                    <select class="form-select" id="accountType">
                        <option value="0">All</option>
                        <option value="1">Admin</option>
                        <option value="2">Physician</option>
                    </select>
                    <label for="accountType" class="form-label">Search</label>
                </div>
            </div>

            <div class="col-auto">
                <button class="btn btn-info text-white rounded-2 border-0 me-2" id="create-acc-btn" style="display:none;"> Create Provider Account </button>
            </div>
        </div>

        <div id="userAccessTableDiv"></div>
    </div>
</div>

<partial name="_ActiveTabPartial" model=active />
<script src="/js/UserAccess.js" asp-append-version="true"></script>