@{
    ViewData["Title"] = "Home Page";
}


<div class="">
    <div class="header d-flex align-items-center">
        <h4>User Management System</h4>
    </div>
    <div class="row justify-content-end align-items-center add-btn-section">
        <div class="col-auto  pe-3">
            <button type="button" class="btn bg-white text-dark" onclick="openAddUserModal()"> ADD USER </button>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-2 m-3">
                <input type="text" placeholder="Search" class="form-control p-2 px-4 w-100" id="search" style="height:58px;">
            </div>
        </div>
        <div id="tableDiv" class="table-responsive mt-3"></div>

    </div>


</div>
<partial name="_AddUserModal"/>
<partial name="_EditUserModal"/>