@{
    ViewData["Title"] = "Home Page";
}


<div class="">
    <div class="header d-flex align-items-center">
        <h4>User Management System</h4>
    </div>
    <div class="d-flex align-items-center">
        
    </div>
</div>
