/*.box {
    height: 80px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    padding-top:5px;
}

#box1 {
    color: white;
    background-color: #213e9a;
    border: solid thin #063982;
    color: #063982;
    background-color: #cfe2ff;
}

    #new-box:hover {
        color: white;
        background-color: #3385ff;
        transition: all 0.1s;
    }

#box2 {
    color: #4e9daf;
    background-color: #9dd6e2;
}

#box3 {
    color: #557f57;
    background-color: #c1ddbf;
}

#box4 {
    color: #ab7796;
    background-color: #e1b0cd;
}

#box5 {
    color: #467292;
    background-color: #b9d1e5;
}

#box6 {
    color: #89719b;
    background-color: #d2c0dd;
}
.state-text {
    color: #213e9a;
}
*/

.patientcolor {
    background-color: green !important;
    color: white !important;
}

.friendcolor {
    background-color: orange !important;
    color: white !important;
}

.businesscolor {
    background-color: red !important;
    color: white !important;
}

.conciergecolor {
    background-color: blue !important;
    color: white !important;
}