* {
    box-sizing: border-box;
}

.header_nav {
    box-shadow: 0px 6px 4px -4px rgba(0, 0, 0, 0.25);
    background-color: white;
}

    .header_nav img {
        height: 65px;
    }

.footer {
    height: 40px;
    background-color: black;
    padding-right: 10px;
    font-size: 14px;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

    .footer a {
        text-decoration: none;
        font-weight: 100;
        color: white;
    }
