body {
    background-color: rgba(65, 65, 65, 0.089);
}

.iti {
    width: 100%;
}

.bg {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 6px -6px 6px -4px rgba(0, 0, 0, 0.25);
}

.form-control:focus {
    box-shadow: none;
}

.form-control:focus {
    box-shadow: none;
}

.form-floating.input-group:focus-within {
    border: 1px solid #01bce9;
    border-radius: var(--bs-border-radius);
}

    .form-floating.input-group:focus-within label {
        color: #01bce9;
    }


.form-floating > .form-select {
    padding-top: 0;
    padding-bottom: 0;
}

.map {
    height: 58px;
    width: 100px;
    line-height: 42px;
}

.c-btn {
    width: 85px;
    height: 45px;
    line-height: 30px;
}

.container {
    margin-bottom: 50px;
}
