

body {
    background-color: rgba(65, 65, 65, 0.089);
}

.bg {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 6px -6px 6px -4px rgba(0, 0, 0, 0.25);
}

    .bg a {
        text-decoration: none;
        color: #01bce9;
    }

.nav-link {
    color: black;
}

.nav-underline .nav-link.active,
.nav-underline .show > .nav-link {
    color: #01bce9;
}

.btn :hover {
    color: black;
}

#fileLoader {
    position: absolute;
    left: -9999px;
}

td a {
    width: 35px;
    height: 35px;
}

.bi-cloud-arrow-down::before {
    position: relative;
    left: -7px;
    top: -10px;
}
.toggle-button {
    display: none;
}
.fileIcon {
    cursor: pointer;
    color: red;
}
.showFile {
    display: flex;
    justify-content: space-between;
    width: 100%;
}